.titleList {
    font-size: 26px;
    text-align: start;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    color: black;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    font-size: 16px;
    height: 40px;
}
.Done {
    opacity: 0.6;
}
.error {
    border: 2px solid red;
}
.errorMessage {
    color: red;
}
.emptyList {
    margin: 200px 0 0 100px;
    font-family: "Maven Pro", sans-serif;
    font-size: 60px;
    color: red;
    text-align: center;
    transition: 0.5s;
}
.emptyList:hover {
    font-size: 80px;
    color: black;
}
.iconButton {
    width: 10px;
    height: 10px;
}
